includes:
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
    - tools/phpstan/vendor/slam/phpstan-extensions/conf/symfony-rules.neon
    - phpstan-baseline.neon

rules:
    - TheCodingMachine\PHPStan\Rules\Exceptions\DoNotThrowExceptionBaseClassRule
    - TheCodingMachine\PHPStan\Rules\Exceptions\ThrowMustBundlePreviousExceptionRule

parameters:
    level: 6

    paths:
        - %currentWorkingDirectory%

    universalObjectCratesClasses:
        - Contao\BackendUser
        - Contao\Model
        - Contao\Template

    excludePaths:
        - %currentWorkingDirectory%/tools/*
        - %currentWorkingDirectory%/vendor/*
        - cache\test

    ignoreErrors:


    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    rememberPossiblyImpureFunctionValues: false
